<form asp-controller="Subscription" asp-action="UnsubscribeFromTopic" method="post">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Bye!</small>
    </div>
    <button type="submit" class="btn btn-primary" value="email">Unsubscribe</button>
</form>