<form asp-controller="Lambda" asp-action="TriggerLambda" method="post">
    <div class="form-group">
        <label for="payload">Enter payload here:</label>
        <input type="text" name="uri" class="form-control" id="payload" aria-describedby="payload" placeholder="Enter payload">
        <small class="form-text text-muted">GIVE ME THE PAYLOAD!!!</small>
    </div>
    <button type="submit" class="btn btn-primary" value="payload">SEND</button>
</form>