<form asp-controller="Lambda" asp-action="TriggerLambda" method="post">
    <div class="form-group">
        <label for="uri">Link for api gateway:</label>
        <input type="text" name="uri" class="form-control" id="uri" aria-describedby="link" placeholder="Enter link">
        <small class="form-text text-muted">GIVE ME THE LINK!!!</small>
    </div>
    <button type="submit" class="btn btn-primary" value="uri">SEND</button>
</form>