<form asp-controller="Images" asp-action="UploadFile" enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label>Upload</label>
        </dt>
        <dd>
            <input name="file" id="file" type="file">
        </dd>
    </dl>
    <input class="btn btn-success" type="submit" value="Upload">
</form>